backend/config/config.ini.php
backend/core/WebSocketServer/*.file
logs/
*.log
.ftpconfig
frontend/frameworks/bootstrap-samples
.ftpignore
.vscode
.htaccess
backup/
kubernetes/development
vendor
vendor/*
composer.lock
package-lock.json