.dowtime-short-desc-content {
    margin: 0; 
    font-size: 0.9em;
}

.downtime-short-desc-title {
    font-size: 1.1em;
}

.downtimeModalContainer{
    max-height: 15em; 
    overflow: auto;
}

.service-state{
    width: 4.3em;
}

.service-name{
    width: 15em;
}

.service-notes{
    width: 5em;
}

.service-summary{
    width: 30em;
}

.service-state-since{
    width: 11.5em;
}

.service-last-checked{
    width: 5em;
}

.service-workload{
    width: 20em;
}

.progress{
    width: 100%;
    border: 1px solid lightslategray;
}
