.loglevel-info{
  background-color: rgba(39,78,245,0.5);
}
.loglevel-warn{
  background-color: rgba(217, 245, 39, 0.7);
}
.loglevel-crit{
  background-color: rgba(245, 39, 39, 0.5);
}
.loglevel-unkn{
  background-color: rgba(245, 176, 39, 0.7);
}
